.button--circle {
    display: flex;
    margin: .5rem auto;
    height: $xl-size;
    text-align: center;
    width: $xl-size;
    color: white;
}

.button {
    background: $light-blue;
    border: none;
    color: white;
    font-weight: bold;
    height: $xxl-size;
}

.button--small {
    background: white;
    color: $dark-blue;
    font-size: $m-size;
}
.button--blue {
    background: blue;
}
.button--green {
    background: green;
}