.modal {
    background: $purple;
    color: white;
    height: 10rem;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 20rem;

}