//Colors
$off-black: #20222b;
$off-white: #a5afd7;
$dark-blue: #333745;
$purple: #8357c5;
$blue: #7BB2E8;
$light-blue: #464b5e;
$light-yellow: #E8E87B;
$orange: #FAC125;
//Spacing

$xs-size: .5rem;
$s-size: 1.5rem;
$m-size: 1.8rem;
$l-size: 2.4rem;
$xl-size: 3.2rem;
$xxl-size: 4.2rem;

$desktop-breakpoint: 45rem;